@tailwind base;
@tailwind components;
@tailwind utilities;

.Typewriter {
  display: inline;
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 12% 20%,
    #00ffc3ad 0%,
    #5c00d4c7 50%,
    #c4ee82 99%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 12% 20%,
    #00ffc3ad 0%,
    #5c00d4c7 50%,
    #c4ee82 99%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 12% 20%,
    #00ffc3ad 0%,
    #5c00d4c7 50%,
    #c4ee82 99%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 12% 20%,
    #00ffc3ad 0%,
    #5c00d4c7 50%,
    #c4ee82 99%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 12% 20%,
    #00ffc3ad 0%,
    #5c00d4c7 50%,
    #c4ee82 99%
  );
}
.bg-gradient {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 20% 30%,
    #0c393ce3 0%,
    #670101cf 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 20% 30%,
    #0c393ce3 0%,
    #670101cf 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 20% 30%,
    #0c393ce3 0%,
    #670101cf 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 20% 30%,
    #0c393ce3 0%,
    #670101cf 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 20% 30%, #0c393ce3 0%, #670101cf 100%);
}
body {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 20% 30%,
    #0c393ce3 0%,
    #670101cf 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 20% 30%,
    #0c393ce3 0%,
    #670101cf 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 20% 30%,
    #0c393ce3 0%,
    #670101cf 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 20% 30%,
    #0c393ce3 0%,
    #670101cf 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 20% 30%, #0c393ce3 0%, #670101cf 100%);
}

.page-transition-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
  opacity: 1;
  transform: translateY(0px);
}

.page-transition-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 2rem;
}

.animate-class {
  opacity: 0;
  transform: translateX(20);
  transition: all 0.5s ease-in-out;
}

.animate-class.animate {
  opacity: 1;
  transform: translateX(-100%);
}

.scale-up-top {
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
}
